img{
    width: 200px;
    margin-right: 40px;
}
.img1{
    border-radius: 10px;
}
.img2{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.img3{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}