 p{
    text-align: center;
 }
 .title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
 }
 .description{
    font-family: Montserrat;
    margin-top: 10px;
 }
 .shop-link{
    text-decoration: underline;
 }